* {
    box-sizing: border-box;
}

body {
    /*font: 14px Montserrat, sans-serif;*/
    max-width: 100%;
    line-height: 1.8;
    font-size: 20px;
    color: #ffffff;
    padding: 20px;
    background: #000000;
    /*background-image:url('images/creative-technologies-sketch.png')*/
}

/* Header/Blog Title */
.header {

    padding: 30px;
    font-size: 40px;
    text-align: center;
    /*background: #1e1e1e;*/
    background:url("images/techBanner.png");
    background-size: cover;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Left image*/
.leftDiv {
    float: left;
    width: 50%;
    padding-left: 20px;
}

/* Right image */
.rightDiv {
    float: left;
    width: 50%;
    padding-left: 20px;
}

/* floatRight image */
.floatRightDiv {
    float: right;
    width: 50%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    /*content:url('images/creative-technologies-sketch.png');*/
}

/* The Light shooting image */
.theLightImg1 {
    background-color: #aaa;
    width: 100%;
    padding: 0px;
    content:url('images/portfolio/TheLight_shooting.png');
}

/* The Light rocks image */
.theLightImg2 {
    background-color: #aaa;
    width: 100%;
    padding: 0px;
    content:url('images/portfolio/TheLight_rocks.png');
}

/* The 2018 ERA image */
.entertainmentGraph {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    /*padding: 0px;*/
    content:url('images/portfolio/2018Entertainment.PNG');
}

/* Bullet Sponge saucer scene image */
.saucerScene {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0px;
    content:url('images/portfolio/BulletSponge.png');
}

/* Fruit Bowl image */
.fruitBowl {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0px;
    content:url('images/portfolio/FruitBowl.png');
}

/* Retrolympics image */
.retrolympics {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    padding: 0px;
    content:url('images/portfolio/Retrolympics.png');
}

/* Professionalism image */
.professionalism {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 70%;
    padding: 0px;
    content:url('images/professionalism/Professionalism.jpg');
}

/* IGDA image */
.igda {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0px;
    content:url('images/professionalism/IGDA_logo.png');
}

/* Tiga image */
.tiga {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    padding: 0px;
    content:url('images/professionalism/tigaLogo.jpg');
}

/* Freelancer image */
.freelancer {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 0px;
    content:url('images/freelancing/freelancer.png');
}

/* work from home image */
.homework {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0px;
    content:url('images/freelancing/workfromhome.jpg');
}

/* networking image */
.networking {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0px;
    content:url('images/networking/networking.png');
}

/* linked in image */
.linkedin {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0px;
    content:url('images/networking/linkedin-logo.png');
}

/* Angellist image */
.angellist {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0px;
    content:url('images/networking/AngelList.png');
}

/* Meetup image */
.meetup {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0px;
    content:url('images/networking/Meetup.png');
}

/* intellectual property office image */
.intellectual {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0px;
    content:url('images/ip/itellectual.png');
}

/* copyright image */
.copyright {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0px;
    content:url('images/ip/Copyright.jpg');
}

/* trademark image */
.trademark {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0px;
    content:url('images/ip/TM.jpg');
}

/* anne statue image */
.anne {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 0px;
    content:url('images/ip/anne.gif');
}

/* Apple V Samsung image */
.samsung {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0px;
    content:url('images/ip/Apple-v-Samsung-court.jpg');
}

/* Battleroyale image */
.battleroyale {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0px;
    content:url('images/ip/BattleRoyale.png');
}

/* Me image*/
.me {
    margin-left: auto;
    margin-right: auto;
    content:url('images/Me.png');
}

/*Italics*/
.itals {
    text-align: center;
    font-family: Calibri;
    font: 23px Calibri, Calibri;
    font-style: italic;
}


/* Add a card effect for articles */
.card {
    background-color: #1e1e1e;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding: 50px;
    margin-top: 20px;
    /*background:url("images/postBackground.png");*/
    background-size: cover;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #1e1e1e;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }

    .leftDiv, .rightDiv {
        width: 100%;
        padding: 0;
    }
}